.header-wrapper {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 99;
    width: 100%;
}

.web-header {
    height: 72px;
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
}

.appbar-section {
    display: flex;
}

.logo {
    cursor: pointer;
    margin-right: 20px;
}

.nav-item-group {
    display: flex;
}

.nav-item {
    color: #757575;
    font-size: 16px;
    margin: auto 20px auto 20px;
}

.menu-item-selected {
    color: var(--color-primary) !important;
}

.nav-item:hover {
    color: var(--color-primary);
    cursor: pointer;
}

.tools-section {
    display: flex;
}

.tools-section .MuiOutlinedInput-notchedOutline {
    border-color: rgb(0 0 0 / 15%);
}

.search-bar {
    height: 40px;
}

.search-input {
    height: 40px !important;
    font-size: 14px !important;
    border-radius: 20px !important;
}

.signin-handle {
    margin-left: 16px !important;
    height: 40px !important;
    width: 40px !important;
    float: right;
}

.signin-handle-child {
    cursor: pointer;
    height: 40px !important;
    width: 40px !important;
    color: #757575;
    border-radius: 100%;
}

.no-signin-handle {
    cursor: pointer;
    margin-left: 16px !important;
    height: 40px !important;
    width: 88px;
}

/* mobile css */
.mobile-header {
    height: 73px;
    display: flex;
    padding: 16px 8px;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
}

.mobile-header>div {
    width: 33.33%;
}

.mobile-header>div:nth-child(2) {
    text-align: center;
}

.mobile-header>div:nth-child(3) {
    text-align: right;
}

.mobile-burger {
    cursor: pointer;
    color: #757575;
    font-size: 32px !important;
    margin-top: 5px;
}

.mobile-header .logo {
    margin-right: unset;
}

.floating-menu {
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #fff;
}

.search-container {
    padding: 24px;
    border-bottom: 1px solid #cccccc;
}

.mobile-menu-list {
    font-size: 16px;
    padding: 0 !important;
}

.mobile-menu-item {
    padding: 24px !important;
}

/* usermenu */
.user-menu-list .MuiPaper-root {
    padding: 0 !important;
    border-radius: 7px;
    top: 78px !important;
    right: 24px !important;
    left: unset !important;
    width: 274px !important;
    max-height: 285px !important;
}

.user-menu-list.user-menu-list-mobile .MuiPaper-root {
    top: 79px !important;
}

.user-menu-list .MuiList-root {
    padding: 0 !important;
    width: 100% !important;
}

.user-menu-items {
    padding: 15px 24px !important;
}

.user-menu-info {
    text-align: center;
    padding: 10px;
}

.user-menu-info .user-name {
    color: #000;
    margin-bottom: 3px;
}

.user-menu-info .user-email {
    color: #757575;
    font-size: 15px;
}