.rounx-text-button {
    background-color: transparent !important;
    color: #336def !important;
    border-color: #336def !important;
    border-radius: 20px !important;
    text-transform: none !important;
    height: 40px !important;
    padding: 11px 21px !important;
    font-size: 14px !important;
    font-weight: 525 !important;
}