.button {
    border-radius: 20px !important;
    text-transform: none !important;
    height: 40px !important;
    padding: 11px 21px !important;
    font-size: 14px !important;
    font-weight: 525 !important;
    min-width: 72px !important;
    transition: none !important;
    box-shadow: none !important;
}

.button.MuiButton-contained:not(.Mui-disabled) {
    background-color: var(--color-primary) !important;
    color: #fff !important;
}

.button.MuiButton-outlined:not(.Mui-disabled) {
    color: var(--color-primary) !important;
    border-color: #cccccc !important;
}

.button.MuiButton-outlined:hover {
    background-color: rgba(51, 110, 239, 0.24) !important;
    color: var(--color-primary) !important;
}

.button.MuiButton-text:not(.Mui-disabled) {
    color: var(--color-primary) !important;
}

.button.MuiButton-text:hover {
    background-color: rgba(51, 110, 239, 0.24) !important;
    color: var(--color-primary) !important;
}