.rounx-button {
    border-radius: 20px !important;
    text-transform: none !important;
    height: 40px !important;
    padding: 11px 21px !important;
    font-size: 14px !important;
    font-weight: 525 !important;
    min-width: 72px !important;
    transition: none !important;
}

.rounx-button.MuiButton-contained {
    background-color: #336def !important;
    color: #fff !important;
}

.rounx-button.MuiButton-outlined {
    color: #336def !important;
    border-color: #cccccc !important;
}

.rounx-button.MuiButton-outlined:hover {
    background-color: rgba(51, 110, 239, 0.24) !important;
    color: #336def !important;
}

.rounx-button.MuiButton-text {
    color: #336def !important;
}

.rounx-button.MuiButton-text:hover {
    background-color: rgba(51, 110, 239, 0.24) !important;
    color: #336def !important;
}