.circular-progress-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    color: var(--color-primary);
    height: 54px;

    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
}

.circular-progress-loader-empty {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 2px;
}

.circular-progress-loader:hover {
    background-color: #eeeeee;
}

.expand-icon {
    margin-left: 16px;
}