.rounx-auth-card {
    margin: 80px auto 0 auto !important;
    width: 550px !important;
    transition: width 0.5s;
}

.rounx-account-title-info {
    font-size: 20px !important;
    text-align: center !important;
    margin-top: -5px !important;
    margin-bottom: 20px !important;
}

@media (max-width: 597px) {
    .rounx-auth-card {
        width: 100% !important;
    }
}