.rounx-auth-card {
    margin: 80px auto 0 auto !important;
    width: 100% !important;
    max-width: 550px !important;
    transition: width 0.5s;
}

.rounx-account-title-info {
    font-size: 20px !important;
    text-align: center !important;
    margin-top: -5px !important;
    margin-bottom: 20px !important;
}

.rounx-next-slide {
    animation: next 1.5s ease-in-out;
}

@keyframes next {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    25% {
        transform: translateX(-150%);
        opacity: 0;
    }

    75% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.rounx-previous-slide {
    animation: back 1.5s ease-in-out;
}

@keyframes back {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    25% {
        transform: translateX(150%);
        opacity: 0;
    }

    75% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}