.auth-card {
    margin: 80px auto 0 auto !important;
    width: 100% !important;
    max-width: 550px !important;
    transition: width 0.5s;
}

.account-title-info {
    font-size: 20px !important;
    text-align: center !important;
    margin-top: -5px !important;
    margin-bottom: 20px !important;
}

.sign-in-account-menu .MuiPaper-root {
    margin-top: 5px !important;
}