/* main */
.profile-layout-container {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    gap: 16px;
}

.right-profile-section,
.left-profile-section {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 16px;
}

.profile-layout-container.profile-layout-container-mobile {
    flex-direction: column-reverse;
}

.profile-layout-container.profile-layout-container-mobile .right-profile-section,
.profile-layout-container.profile-layout-container-mobile .left-profile-section {
    width: 100%;
    /* flex-direction: column-reverse; */
}

.container-width {
    width: 100%;
    padding: 26px;
}

.see-more-container {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-heading {
    font-size: 20px;
    margin-bottom: 22px;
}

/* ======================
= user info
====================== */
.userInfo-container {
    padding: 0 !important;
    overflow: hidden;
    position: relative;
}

.userInfo-profile-image-box {
    height: 181px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.userInfo-profile-image {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
}

.userInfo-avatar-image-box {
    height: 78px;
    width: 78px;
    border-radius: 100%;
    border: 2px solid #fff;
    background-color: #fff;
    position: relative;
    top: -39px;
    left: 26px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.userInfo-avatar-image {
    height: 100% !important;
    width: 100% !important;
}

.userInfo-user-details {
    padding: 0 26px 26px;
}

.userInfo-user-name {
    font-size: 20px;
    margin-bottom: 5px;
}

.userInfo-user-id {
    color: #757575;
    font-size: 16px;
}


/* ======================
= basic information
====================== */

.basicInfo-location,
.basicInfo-joining-date {
    font-size: 16px;
}

.basicInfo-location span,
.basicInfo-joining-date span {
    color: #757575;
}

/* ======================
= languages
====================== */

.profile-language-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-language-box:not(:last-child) {
    margin-bottom: 16px;
}

.language-box-name {
    margin-bottom: 5px;
}

.language-box-name,
.language-box-skill {
    font-size: 16px;
}

.language-box-skill {
    color: #757575;
}

/* ======================
= job feedback
====================== */

.progress-container {
    display: flex;
    gap: 26px;
    width: 100%;
}

.progress-ratings {
    width: calc(100% - 130px);
}

.progress-ratings .progress-value {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.progress-ratings .progress-value .rating-number {
    display: block;
    width: 18px;
    font-size: 14px;
    font-weight: bold;
    color: #757575;
}

.progress-ratings .progress-value .MuiLinearProgress-root {
    width: calc(100% - 10px);
    border-radius: 8px;
    height: 14px;
    background-color: #d9d9d9;
}

.progress-ratings .progress-value .MuiLinearProgress-root .MuiLinearProgress-bar {
    background-color: #faaf00;
}

.progress-reviews {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 130px;
}

.rating-rate {
    font-size: 50px;
    color: #757575;
    margin-bottom: 10px;
}

.rating-box {
    margin-bottom: 14px;
}

.rating-box .MuiRating-iconEmpty .MuiSvgIcon-root {
    fill: #faaf00;
}

.review-list-container:not(:last-child) {
    margin-bottom: 10px;
}

.review-box {
    display: flex;
    align-items: center;
}

.review-owner-avatar {
    padding: 10px 10px 10px 0;
}

.review-owner-avatar .feedback-avatar {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.review-owner-name {
    padding-left: 3px;
    margin-bottom: 2px;
}

.review-rating-date {
    display: flex;
    align-items: center;
}

.review-date {
    margin-left: 10px;
    font-size: 12px;
    color: #757575;
}

.review-owner-comment {
    font-size: 14px;
}

/* ======================
= about
====================== */

.about-content {
    font-size: 16px;
}

/* ======================
= skills
====================== */

.skill-chip {
    margin-left: 0 !important;
    font-size: 16px !important;
}


/* ======================
= experiences
====================== */

.profile-experience-box {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.experience-title {
    font-size: 16px;
    font-weight: bold;
}

.experience-details {
    font-size: 12px;
    color: #757575;
    margin-top: 2px;
}

.experience-description {
    font-size: 14px;
}


/* ======================
= educations
====================== */

.profile-educations-box {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.educations-title {
    font-size: 16px;
    font-weight: bold;
}

.educations-details {
    font-size: 12px;
    color: #757575;
    margin-top: 2px;
}

.educations-description {
    font-size: 14px;
}