.home-first-section {
    display: flex;
}

.home-first-left {
    width: 55%;
    padding-right: 48px;
    display: flex;
    align-items: center;
}

.home-section-title {
    font-size: 48px !important;
    font-weight: 500 !important;
}

.home-section-details {
    margin: 24px 0;
}

.home-section-info2 {
    color: #757575 !important;
    font-size: 24px !important;
}

.home-first-right {
    width: 45%;
    display: flex;
    align-items: center;
}

.home-first-image {
    height: 552px;
    width: 550px;
    margin-left: auto;
}

.home-first-section.home-first-section-mobile {
    display: unset;
}

.home-first-section.home-first-section-mobile .home-first-left {
    width: 100%;
    padding-right: 0;
}

.home-first-section.home-first-section-mobile .home-first-right {
    width: 100%;
}

.home-first-section.home-first-section-mobile .home-first-image {
    margin-right: auto;
    width: 100%;
    height: auto;
}

/* ====================================
second section
==================================== */

.home-second-section {
    display: flex;
}

.home-second-box {
    width: 31%;
}

.home-second-section.home-second-section-mobile {
    display: unset;
}

.home-second-section.home-second-section-mobile .home-second-box {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 48px 0;
}

.home-second-section.home-second-section-mobile .home-second-box:nth-child(2) {
    margin: 0 !important;
}


/* ====================================
third section
==================================== */

.home-third-section {
    display: flex;
    flex-direction: row;
    gap: 96px;
    justify-content: space-between;
}

.home-third-left {
    width: 550px;
}

.qr-code-image {
    margin-left: -16px;
    width: 258px;
}

@media (max-width:1170px) {
    .home-third-section {
        flex-direction: column;
        gap: 32px;
    }

    .home-third-left {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .home-third-right {
        width: 100%;
        justify-content: center;
    }
}