.rounx-home-first-section {
    display: flex;
}

.rounx-home-first-left {
    width: 55%;
    padding-right: 48px;
    display: flex;
    align-items: center;
}

.rounx-home-section-title {
    font-size: 48px !important;
    font-weight: 500 !important;
}

.rounx-home-section-details {
    margin: 24px 0;
}

.rounx-home-section-info2 {
    color: #757575 !important;
    font-size: 24px !important;
}

.rounx-home-first-right {
    width: 45%;
    display: flex;
    align-items: center;
}

.rounx-home-first-image {
    height: 552px;
    width: 550px;
    margin-left: auto;
}

/* mobile */
/* @media (min-width: 320px) and (max-width: 480px) {
    .rounx-home-first-image {
        height: auto;
        width: 320px;
    }
} */

/* tablet */
/* @media (min-width: 481px) and (max-width: 566px) {
    .rounx-home-first-image {
        height: auto;
        width: 481px;
    }
} */

@media (max-width:1170px) {
    .rounx-home-first-section {
        display: unset;
    }

    .rounx-home-first-left {
        width: 100%;
        padding-right: 0;
    }

    .rounx-home-first-right {
        width: 100%;
    }

    .rounx-home-first-image {
        margin-right: auto;
        width: 100%;
        height: auto;
    }
}

/* ====================================
second section
==================================== */

.rounx-home-second-section {
    display: flex;
}

.rounx-home-second-box {
    width: 31%;
}

@media (max-width:900px) {
    .rounx-home-second-section {
        display: unset;
    }

    .rounx-home-second-box {
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 48px 0;
    }

    .rounx-home-second-box:nth-child(2) {
        margin: 0 !important;
    }
}


/* ====================================
third section
==================================== */

.rounx-home-third-section {
    display: flex;
    flex-direction: row;
    gap: 96px;
    justify-content: space-between;
}

.rounx-home-third-left {
    width: 550px;
}

.rounx-qr-code-image {
    margin-left: -16px;
    width: 258px;
}

@media (max-width:1170px) {
    .rounx-home-third-section {
        flex-direction: column;
        gap: 32px;
    }

    .rounx-home-third-left {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .rounx-home-third-right {
        width: 100%;
        justify-content: center;
    }
}