.rounx-settings-list .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
    color: #757575 !important;
}

.rounx-settings-list .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
    background-color: rgb(51 109 239 / 20%) !important;
    color: #757575 !important;
}

.rounx-settings-list .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
    border-radius: 4px !important;
    background-color: rgb(51 109 239 / 20%) !important;
}

.rounx-settings-icon {
    margin-right: 16px;
}

@media (max-width: 900px) {
    .rounx-setting-menu .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
        left: 24px !important;
    }
}