.rounx-settings-list .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
    color: #757575 !important;
}

.rounx-settings-list .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
    background-color: var(--color-primary-light) !important;
    color: var(--color-primary) !important;
}

.rounx-settings-list .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
    border-radius: 4px !important;
    background-color: var(--color-primary-light) !important;
}

.rounx-settings-list .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .rounx-settings-icon {
    display: none;
}

.rounx-settings-list .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .rounx-settings-icon-hover {
    display: block;
}

.rounx-settings-list .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover .rounx-settings-icon {
    display: none;
}

.rounx-settings-list .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover .rounx-settings-icon-hover {
    display: block;
}

.rounx-settings-icon {
    margin-right: 16px;
    height: 22px;
}

.rounx-settings-icon-hover {
    margin-right: 16px;
    height: 22px;
    display: none;
}

.deleteEmailModal .css-1fu2e3p-MuiPaper-root-MuiDialog-paper {
    min-width: 400px !important;
}

@media (max-width: 900px) {
    .rounx-setting-menu .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
        left: 24px !important;
    }
}

@media (max-width: 432px) {
    .deleteEmailModal .css-1fu2e3p-MuiPaper-root-MuiDialog-paper {
        min-width: calc(100% - 32px) !important;
    }
}