@font-face {
  font-family: "SourceHanSansSC";
  src: local("SourceHanSansSC"),
    url("./fonts/SourceHanSansSC/SimplifiedChinese/SourceHanSansSC-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("SourceHanSansSC"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

:root {
  --color-primary: #336def;
}

* {
  box-sizing: border-box;
}

html {
  zoom: 0.95;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[lang="en"] {
  font-family: 'Roboto Serif', serif;
}

html[lang="zh-CN"] {
  font-family: 'SourceHanSansSC';
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  overflow: hidden;
  position: relative;
}

.primary-color {
  color: var(--color-primary) !important;
}


/* date picker selected */
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: var(--color-primary) !important;
}

.css-3eghsz-PrivatePickersYear-button.Mui-selected {
  background-color: var(--color-primary) !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: var(--color-primary) !important;
}


/* menu or dropdown list */
.MuiMenu-list {
  max-height: 300px !important;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  border-radius: 6px !important;
  border-color: #000000 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

/* selected menu item */
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: rgba(51, 109, 239, 0.24) !important;
}

/* field edit outling */
.Mui-focused fieldset {
  border-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
}

.Mui-focused fieldset legend span {
  color: var(--color-primary) !important;
}

/* modal menu */
.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
  overflow: hidden;
}