@font-face {
  font-family: "SourceHanSansSC";
  src: local("SourceHanSansSC"),
    url("./fonts/SourceHanSansSC/OTF/SimplifiedChinese/SourceHanSansSC-Regular.otf") format("truetype");
}

html {
  zoom: 0.95;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  overflow: hidden;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Roboto', "SourceHanSansSC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}


/* date picker selected */
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #336def !important;
}

.css-3eghsz-PrivatePickersYear-button.Mui-selected {
  background-color: #336def !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #336def !important;
}


/* menu or dropdown list */
.MuiMenu-list {
  max-height: 300px !important;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  border-radius: 6px !important;
  border-color: #000000 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

/* selected menu item */
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: rgba(51, 109, 239, 0.24) !important;
}

/* field edit outling */
.Mui-focused fieldset {
  border-color: #336def !important;
  color: #336def !important;
}

.Mui-focused fieldset legend span {
  color: #336def !important;
}

/* modal menu */
.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
  overflow: hidden;
}