html {
  zoom: 0.95;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #336def !important;
}

.css-3eghsz-PrivatePickersYear-button.Mui-selected {
  background-color: #336def !important;
}

.MuiMenu-list {
  max-height: 300px !important;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  border-radius: 6px !important;
  border-color: #000000 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}