.rounx-footer-container {
    height: 72px;
    background-color: #f8f9fa;
    border-top: 1px solid #cccccc;
    padding: 24px 16%;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px !important;
    color: #757575 !important;
}

.rounx-footer-left-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
}

.rounx-language-menu .MuiPaper-root {
    top: unset !important;
    bottom: 78px !important;
    min-width: 120px !important;
}

.rounx-language-menu .MuiPaper-root ul li {
    height: 40px !important;
    line-height: 1.5 !important;
}

.rounx-language-menu .MuiPaper-root ul li span {
    display: none !important;
}

.rounx-language-box fieldset {
    border: none;
}

.rounx-language-value {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rounx-language-icon {
    font-size: 24px !important;
    margin-right: 10px;
    margin-top: -1px;
}

.rounx-language-select {
    font-size: 14px !important;
    color: #757575 !important;
    padding-top: 1px !important;
    padding-right: 6px !important;
}

#rounx-language-switcher {
    height: unset !important;
}

.rounx-nav-items-box {
    display: flex;
}

.rounx-footer-items {
    font-size: 14px !important;
    color: #757575 !important;
    margin-left: 16px !important;
}

.rounx-footer-items:hover {
    cursor: pointer;
    opacity: 0.8;
}

.rounx-footer-right-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    text-decoration: none;
}

.rounx-footer-right-content a {
    text-decoration: none;
    color: #757575;
}

.rounx-footer-brand-icon {
    height: 28px;
    width: 28px;
    font-size: 32px;
    margin-left: 16px !important;
}

.rounx-footer-brand-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 900px) {
    .rounx-footer-container {
        height: 119px;
        padding: 24px;
        display: block;
    }

    .rounx-footer-right-content {
        margin-top: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
    }

    .rounx-language-menu .MuiPaper-root {
        top: unset !important;
        bottom: 125px !important;
    }
}