.rounx-blue-button {
    background-color: #336def !important;
    color: #fff !important;
    border-radius: 20px !important;
    text-transform: none !important;
    height: 40px !important;
    padding: 11px 21px !important;
    font-size: 14px !important;
    font-weight: 525 !important;
    min-width: 72px !important;
}